body { 
	padding-top: 70px;

}

.button_row1 {
	margin-top: 20px;
	margin-left: 25px;
}

.logo1 {
    margin-top: 55px;
    margin-left: 25px;
}

.logo2 {
    margin-top: 55px;
    margin-left: 25px;
}

.button_row2 {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 25px;
}

.button_row3tris {
	margin-top: 0px;
	margin-bottom: 20px;
	margin-left: 25px;
}

.button_row3bis {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 25px;
    max-width: 1400px;
    min-height: 90px;
    overflow: auto;

}

.button_row3 {
	margin-top: 10px;
	margin-bottom: 30px;
	margin-left: 25px;
}

.button_bottom1 {
	margin-bottom: 70px;
	margin-left: 25px;
}

.button_top1 {
    margin-top: 10px;
}

.button_bottom2 {
	margin-bottom: 20px;
	margin-left: 25px;
}
.button_bottom3 {
    margin-top: 30px;
	margin-bottom: 40px;
}
.button_bottom5 {
    margin-top: 100px;
    margin-bottom: 30px;
}
li.placeholder {
    background: gray;
}
.overlay {
    position:absolute;
    display: none;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    z-index:100;
    background:rgba(80,80,80,0.7);
}
#overlayText {
    position:absolute;
    display:block;
    top:calc(50% - 20px);
    left:calc(50% - 100px);
    width:200px;
    text-align:center;
    padding:20px;
    background:#fff;
    border-radius: 8px;
}
.buttons button {
    padding:5px;
    background:#eee;
    border:1px #333 solid;
    text-transform:uppercase;
    margin:0px 5px 8px 5px;
    cursor: pointer;
}
.buttons button:hover {
    background:#333;
    color:#fff;
}

.button_bottom4 {
    width: 100%;
    margin-top: -30px;
}

.custom {
    width: 140px !important;
}
.btn-dim {

width: 300px;

}

.bottom {
    margin-bottom: 0px;
}

.maps {

    margin-left: -30px;
}
p.big {
    line-height: 200%;
}

.button_bottom8 {
    margin-top: 0px;
    margin-bottom: 40px;
}